.git
.gitignore
node_modules
vendor
public/build
bootstrap/cache/*
storage/app/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.docker.example
docker-compose.yml
Dockerfile
*.md
.phpunit.result.cache
.DS_Store
